@model Mohawk.Executive.Services.ViewModels.Contact

@{
    ViewBag.Title = $"{Model.FirstName} {Model.LastName}";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .information-container {
        width: 100%;
        height: auto;
    }
    .key {
        text-align: right;
        padding-right: 1em;
    }
    .value{ padding-bottom: 5px; }
</style>

<h3>Contact Information</h3>
<hr/>
<div class="information-container">
    <div class="container">

            <table>
                <tr>
                    <td class="key"><label>Name</label></td>
                    <td class="value">@Model.FirstName @Model.LastName</td>
                </tr>
                <tr>
                    <td class="key">@Html.LabelFor(m=>m.Email)</td>
                    <td class="value">@Html.DisplayFor(m=>m.Email)</td>
                </tr>
                <tr>
                    <td class="key">@Html.LabelFor(m=>m.PhoneNumber)</td>
                    <td class="value">@Html.DisplayFor(m=>m.PhoneNumber)</td>
                </tr>
                <tr>
                    <td class="key">@Html.LabelFor(m=>m.Organization)</td>
                    <td class="value">@Html.DisplayFor(m=>m.Organization)</td>
                </tr>
                <tr>
                    <td class="key">@Html.LabelFor(m=>m.Location)</td>
                    <td class="value">@Html.DisplayFor(m=>m.Location)</td>
                </tr>
            </table>



    </div>
</div>
<hr />
<div class="row">
    <div class="col-sm-12">
        <h2>
            Contacts
            <a href="@Url.Action("CreateOpportunity","Opportunities",new { contactId = Model.Id })" class="btn btn-success pull-right"><span class="glyphicon glyphicon-plus"></span> New Opportunity </a>
        </h2>
    </div>
</div>
<hr />
@if (Model.Opportunities.Any())
{
    <table class="table table-striped">
        @{
            foreach (var opp in Model.Opportunities)
            {
                <tr>
                    <td width="20%">@opp.OpportunitySubject</td>
                    <td width="60%">@opp.Value</td>
                    <td width="20%">@opp.OpportunityPriorityId</td>
                </tr>
            }
        }

    </table>
}
else
{
    
    <div class="col-sm-12 text-center"><i>No opportunities with this contact... yet!</i></div>
}