@using Mohawk.Executive.Web.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-md-8">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                <div class="text-center">
                    <h2><img src="~/Media/Images/mohawkCollegeBanner1.png" alt="Moxecutive Login"></h2>
                    @Html.AntiForgeryToken()
                </div>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-12" })
                    <div class="col-md-12">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control modified-input" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-12" })
                    <div class="col-md-12">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control modified-input" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger " })
                    </div>
                </div>


                <div class="form-group text-center">
                    <div class="col-xs-6">
                        <a href="@Url.Action("Register")" class="btn btn-default" style="width: 100%;">Register</a>
                    </div>
                    <div class="col-xs-6">
                        <input type="submit" value="Log in" class="btn btn-default" style="width: 100%;" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-6"></div>
                    <div class="col-xs-6">
                        
                            @Html.CheckBoxFor(m => m.RememberMe, new {@class = "checkbox-inline"})
                            @Html.LabelFor(m => m.RememberMe)
                        
                    </div>
                </div>



                @* Enable this once you have account confirmation enabled for password reset functionality
                    <p>
                        @Html.ActionLink("Forgot your password?", "ForgotPassword")
                    </p>*@
            }
        </section>
    </div>
    <div class="col-sm-2"></div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}