@using Mohawk.Executive.Services.ViewModels
@using Mohawk.Executive.Web.Models
@model Mohawk.Executive.Web.Models.CommentListModel

<div class="row">
    <div id="comments-posting">
        @Html.Action("PostComment", new CommentViewModel(Model.OpportunityId))
    </div>
</div>
@if (Model.Comments.Any())
{
    <div class="row" style="margin-bottom: 20px;">
        <div class="col-sm-12">
            @foreach (var item in Model.Comments.OrderByDescending(x=>x.CommentDate))
            {
                <div class="row block-card">
                    <div class="col-sm-12">
                        <i>@item.PostedBy.Name - @item.CommentDate</i>
                    </div>
                    <div class="col-sm-12" style="padding-top: 15px; padding-bottom: 15px">
                        @item.CommentString
                    </div>
                    <div class="col-sm-12">
                        <a id="@item.Id" class="reply-button">Reply</a>
                    </div>
                    @foreach (var reply in item.Replies.OrderBy(x => x.CommentDate))
                    {
                        <div class="row block-reply">
                            <div class="col-sm-12">
                                <i>@reply.PostedBy.Name - @reply.CommentDate</i>
                                
                            </div>
                            <div class="col-sm-12">
                                @reply.CommentString
                            </div>
                            <div class="col-sm-12">
                                <a id="@item.Id" class="reply-button">Reply</a>
                            </div>
                        </div>
                    }
                </div>

            }
        </div>
    </div>
}
else
{
    <div class="text-center col-sm-12">This opportunity has no comments at the moment. Add one!</div>
}



<script>
    $(document).ready(function() {
        $(".reply-button").on("click", function() {
            var id = $(this).prop("id");
            $.ajax({
                url: "@Url.Action("PostComment")",
                data: {
                    opportunityId: "@Model.OpportunityId",
                        replyToId: id
                }
            }).done(function(data) {
                $("#comments-posting").html(data);
            });

        })
    })
</script>