@model Mohawk.Executive.Web.Models.OpportunityCreateViewModel
@{
    ViewBag.Title = "CreateOpportunity";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("CreateOpportunity", "Opportunities", FormMethod.Post))
{
    <div class="form-group">

        <div class="col-sm-12">
            <h2>
                Create Opportunity
            </h2>
        </div>
    </div>

        <hr />
        @Html.AntiForgeryToken()
        <div class="form-group">
            <div class="col-sm-12">@Html.ValidationSummary(true, "", new { @class = "text-danger" })</div>
        </div>

        <div class="form-group">
            <div class="col-sm-12">@Html.LabelFor(m => m.Subject)*</div>
            <div class="col-sm-12 margin-bottom-10">
                @Html.TextBoxFor(m => m.Subject, new { @class = "form-control modified-input", autocomplete = "off" })
                @Html.ValidationMessageFor(m => m.Subject, "", new { @class = "text-danger" })
            </div>

        </div>

        <div class="form-group">
            <div class="col-sm-12">@Html.LabelFor(m => m.Value)*</div>
            <div class="col-sm-12 margin-bottom-10">
                @Html.TextBoxFor(m => m.Value, new { @class = "form-control modified-input", autocomplete = "off" })
                @Html.ValidationMessageFor(m => m.Value, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-12">
                Importance*
                <br />
                <small>The type of donation. These can be custom created in the settings of the application</small>
            </div>
            <div class="col-md-12 margin-bottom-10">
                @Html.DropDownListFor(m => m.Selected, Model.PrioritiesList, new { @class = "selectpicker form-control", id = "donation-types" })
            </div>
        </div>
        <div class="form-group text-center">
            <div class="col-xs-12">
                <input type="submit" value="Submit" class="btn btn-success" style="width: 100%;margin-top: 50px;" />
            </div>
        </div>

        <script>
            $(document).ready(function () {
                $('.selectpicker').selectpicker({
                    size: 5
                });
            })
        </script>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

        }
