@model Mohawk.Executive.Services.ViewModels.Opportunity
@{
    ViewBag.Title = Model.OpportunitySubject;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    li.active {
        font-weight: bold;
        color: white;
    }
</style>
<div class="row" style="min-height: 100px; padding-bottom: 20px;" >
    <div class="col-sm-12">
        <h3>
            @Model.OpportunitySubject
        </h3>
        <p>@Model.Value</p>
        @if (Model.ResolutionReason != null && Model.ResolvedOn != null)
        {
            <p><b>Resolved On:</b> @Model.ResolvedOn</p>
            <p><b>Reason:</b> @Model.ResolutionReason</p>
        }
    </div>
</div>
<div class="row">
    <ul class="nav nav-tabs nav-justified">
        <li role="presentation" class="active"><a data-toggle="tab" href="#donations">Donations</a></li>
        <li role="presentation"><a data-toggle="tab" href="#steps">Steps</a></li>
        <li role="presentation"><a data-toggle="tab" href="#comments">Comments</a></li>
    </ul>

    <div class="tab-content">
        <div id="donations" class="tab-pane fade in active">
            <div class="row">
                <div class="col-sm-12">
                    <h2>
                        Donations
                        <a href="@Url.Action("QuickCreate","Opportunities")" class="btn btn-success pull-right"><span class="glyphicon glyphicon-plus"></span> Add Donation </a>
                    </h2>
                </div>
            </div>
            @Html.Partial("_OpportunityDonations", Model.Donations)
        </div>
        <div id="steps" class="tab-pane fade">
            <div class="row">
                <div class="col-sm-12">
                    <h2>
                        Steps
                        <a href="@Url.Action("QuickCreate","Opportunities")" class="btn btn-success pull-right"><span class="glyphicon glyphicon-plus"></span> Add Step </a>
                    </h2>
                </div>
            </div>
            @Html.Partial("_OpportunitySteps", Model.Steps)
        </div>
        <div id="comments" class="tab-pane fade">
            <div class="row">
                <div class="col-sm-12">
                    <h2>
                        Comments
                    </h2>
                </div>
            </div>
            @Html.Partial("_OpportunityComments", Model.Comments)
        </div>
    </div>
</div>