@using Mohawk.Executive.Services.ViewModels
@using Mohawk.Executive.Web.Models
@model OpportunityModel
@{
    ViewBag.Title = Model.Subject;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/Content/Blocks.css" />
<style>
    li.active {
        font-weight: bold;
        color: white;
    }

    .nav-justified > li {
        display: table-cell !important;
        width: 1% !important;
    }

    @@media only screen and (max-width:768px) {
        .low-remove-padding {
            padding-left: 0;
            padding-right: 0;
        }
    }
</style>
<div class="row" style="min-height: 100px; padding-bottom: 20px;">

    <div class="col-sm-12">
        <h3>
            @Model.Subject
            @if (Model.ResolutionReason != null && Model.ResolvedOn != null)
            {
                <button type="button" class="btn btn-success pull-right" data-toggle="modal" data-target="#resolution-modal">
                    Resolve Opportunity
                </button>
            }
        </h3>
    </div>


    <div class="col-sm-12">
        
        <p><b>@Model.Priority.PriorityString</b></p>
        <p>@Model.Value</p>

        @if (Model.ResolutionReason != null && Model.ResolvedOn != null)
        {
            <p><b>Resolved On:</b> @Model.ResolvedOn</p>
            <p><b>Reason:</b> @Model.ResolutionReason</p>
        }
    </div>
</div>
<div class="row">
    <div class="col-sm-12 low-remove-padding">
        <script>
            $(document).ready(function() {
                var activeTab = "@Model.ActiveTab";
                if (activeTab.length !== 0) {
                    $("#" + activeTab).addClass("active");
                    $("#" + activeTab.replace("-tab", "")).addClass("in");
                    $("#" + activeTab.replace("-tab", "")).addClass("active");
                }
                else {
                    $("#donations-tab").addClass("active");
                    $("#donations").addClass("in");
                    $("#donations").addClass("active");
                    }
            })
        </script>
        <ul class="nav nav-tabs nav-justified">
            <li id="donations-tab" role="presentation" ><a data-toggle="tab" href="#donations">Donations</a></li>
            <li id="steps-tab" role="presentation"><a data-toggle="tab" href="#steps">Steps</a></li>
            <li id="comments-tab" role="presentation"><a data-toggle="tab" href="#comments">Comments</a></li>
        </ul>
    </div>
    <div class="tab-content">
        <div id="donations" class="tab-pane fade">

            <div class="col-sm-12">
                <h2>
                    Donations
                    <a class="btn btn-success pull-right" data-toggle="modal" data-target="#add-donation-modal"><span class="glyphicon glyphicon-plus"></span> Add Donation </a>
                </h2>
            </div>
            <div class="col-sm-12">@Html.Partial("_OpportunityDonations", Model.Donations)</div>

        </div>
        <div id="steps" class="tab-pane fade">

            <div class="col-sm-12">
                <h2>
                    Steps
                    <a class="btn btn-success pull-right" data-toggle="modal" data-target="#add-step-modal"><span class="glyphicon glyphicon-plus"></span> Add Step </a>
                </h2>
            </div>
            <div class="col-sm-12">@Html.Partial("_OpportunitySteps", Model.Steps)</div>

        </div>
        <div id="comments" class="tab-pane fade">

            <div class="col-sm-12">
                <h2>
                    Comments
                </h2>
            </div>
            <div class="col-sm-12">@Html.Partial("_OpportunityComments", new CommentListModel(Model.Id, Model.Comments))</div>

        </div>
    </div>
</div>
@if (Model.ResolutionReason != null && Model.ResolvedOn != null)
{
    <div class="modal fade" id="resolution-modal" tabindex="-1" role="dialog" aria-labelledby="resolution-modal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                @Html.Partial("_AddResolution", new OpportunityResolutionViewModel(Model.Id))
            </div>
        </div>
    </div>
}
<div class="modal fade" id="add-donation-modal" tabindex="-1" role="dialog" aria-labelledby="add-donation-modal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            @Html.Action("AddDonation", Model.Id)
        </div>
    </div>
</div>

<div class="modal fade" id="add-step-modal" tabindex="-1" role="dialog" aria-labelledby="add-donation-modal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            @Html.Partial("_AddStep", new OpportunityStepModel() { OpportunityId = Model.Id })
        </div>
    </div>
</div>