@using Mohawk.Executive.Services.ViewModels
@model IEnumerable<Mohawk.Executive.Services.ViewModels.PriorityTypeModel>

<div class="row">
    <div class="col-sm-12">
        @if (Model.Any())
        {

            <table class="table table-striped">
                <thead>
                    <tr>
                        <td><b>Id</b></td>
                        <td><b>Priority Type Name</b></td>
                        <td class="text-left"><b>Actions</b></td>
                        <td></td>
                    </tr>
                </thead>
                @foreach (var item in Model)
                {
                    <tr>
                        <td width="10%">@item.Id</td>
                        <td width="70%">@item.PriorityString</td>
                        <td>
                            <a href="#" data-toggle="modal" data-target="#edit-priority-type-modal-@item.Id">Edit </a>
                            <div class="modal fade" id="edit-priority-type-modal-@item.Id" tabindex="-1" role="dialog" aria-labelledby="add-donation-modal-@item.Id" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        @Html.Partial("_EditPriorityType", new PriorityTypeModel() { Id = item.Id, PriorityString = item.PriorityString })
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <a href="#" data-toggle="modal" data-target="#remove-priority-type-modal-@item.Id">Remove </a>
                            <div class="modal fade" id="remove-priority-type-modal-@item.Id" tabindex="-1" role="dialog" aria-labelledby="remove-priority-modal-@item.Id" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        @Html.Action("ConfirmPriorityRemove", new { id = item.Id })
                                    </div>
                                </div>
                            </div>


                        </td>
                    </tr>
                }
            </table>
        }
        else
        {
            <p>There are no priority types at the moment. Add one.</p>
        }
    </div>
</div>
<div class="modal fade" id="add-priority-type-modal" tabindex="-1" role="dialog" aria-labelledby="add-donation-modal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            @Html.Partial("_AddPriorityType", new PriorityTypeModel())
        </div>
    </div>
</div>
